.texto{
    
    color: #9370DB;
}

#inner{

    margin: 70px;
    width: 80%;
}

.botaoBuscarHistorico{

    background-color: #9370DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 200px;
}

.botaoLimpar{

    background-color: #9370DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -81px 400px;
}


#div-botao{

    margin: 10px 50px;
}

.data{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.titulo-lista{
    
    margin: 10px 400px;
}

#div-data{

    margin: 10px 100px;
}

.btn-sair{

    background-color: #9370DB;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
}

.lbl-erro{
    
    color: 	#FF0000;
    margin: 50px 450px;
}

.lbl-validacao{

    color: 	#FF0000;
}

.botao-cadastrar {

    background-color: #9370DB;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.link{
    
    color: #FF0000;
}


