#imagem {
max-width:250px; max-height:170px; width: auto; height: auto;
}

.mano1 {
    position: absolute;
    margin-top: -280px;
    margin-left: 120px;
}

#teste22 {
    margin-left: 110px;
}

#teste111{
    margin-left: 600px;
    margin-top: 110px;
}


.test {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #079400;
    padding: 10px 20px;
    background: -moz-linear-gradient( top, #ffffff 0%, #ffffff 50%, #b5b5b5);
    background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.50, #ffffff), to(#b5b5b5));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #2ea100;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow: 0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,1);
}

